@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
body {
	margin: 0;
	background-color: #040312;
}
h1 {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	text-align: center;
	padding: 20px 0;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: bold;
}
a {outline: 0 !important;}
h2 {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	text-align: center;
	padding: 20px 0;
	text-transform: uppercase;
	font-size: 22px;
	line-height: 35px;
	font-weight: bold;
	color: #777;
}
h2 small {
	line-height: 20px;
}
h2 small strong {
	line-height: 20px;
	font-weight: 450;
}
.container1 hr {
	border-top: 2px solid #0e75a7;
	width: 91%;
}
/*Background effect*/
#bg2, #bg1, #bg3 {
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center 0;
	background-size: cover;
	min-height: 100vh;
}
#bg1 {
	background-image: url(../images/bg.jpg);
}
#bg2 {
	background-image: url(../images/bg2.jpg);
}
#bg3 {
	background-position: center 100vh;
	background-image: url(../images/bg2.jpg);
}
.show {
	opacity: 1;
	transition: opacity 1s ease;
}
.out {
	opacity: 0;
	transition: opacity 1s ease;
}
/*End: Background effect*/


#section1 {
	padding: 0 14px;
}

.principal {
	margin: 0 auto;
	float: none;
}

.principal ul {
	margin: 0;
	padding: 0 12px;
}

.principal .container1 {
	margin: 0 0 70px 0;
	background: rgba(255, 255, 255, 0.95);
	border-radius: 10px;
	padding: 5px 16px 30px 16px;
}
.principal .container1 p {
	text-align: center;
}
.header {
	height: 400px;
}
.header h1 {
	position: relative;
	z-index: 5;
	padding-top: 115px;
}
#brand img {
	width: 100%;
	max-width: 503px;
}
.portfolio {
	padding: 0;
	margin: 0 auto;
	text-align: center;
}
.portfolio li {
	list-style: none;
	display: inline-block;
	margin: 0 4px 8px 0;
}

.portfolio li a {
	display: inline-block;
	cursor: pointer;
}

.portfolio li a img {
	border-radius: 4px;
	width: 100%;
	max-width: 134px;
}
.p-skills span {
	border-radius: 4px;
	padding: 5px 10px;
	margin: 6px 3px;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 20px;
	background-color: #7bc6c4;
	display: inline-block;
	color: #fff;
}
.p-skills .great {
	background-color: #7b96c6;
	font-weight: 600;
}
.education, .contact {
	text-align: center;
	padding: 0;
}
.education li, .contact li, .references li {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 17px;
	list-style: none;
	font-weight: 400;
}
.contact li, .references li {
	list-style: none;
	display: inline-block;
	margin: 10px;
}

.references li {
	border-radius: 7px;
	border: 2px solid #fad2af;
	padding: 15px 20px;
}

.references cite {
	font-weight: 700;
	margin-top: 7px;
  display: inline-block;
}

.contact li a {
	text-decoration: none;
}

.modal-dialog {
	width: 96%;
	height: 99%;
	top: 0;
	margin-top: 4px;
	margin-bottom: 0;
}

.experiences img {
	max-width: 150px;
}





.modal-content {
	height: 98%;
	overflow: hidden;
}
.modal-body {
	overflow-y: scroll;
	height: auto;
	max-height: 85%;
	text-align: center;
}


.modal-body .img-responsive {
	display: inline;
}
.modal-title, .modal-body a {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.modal-body a {
	font-size: 18px;
	margin-bottom: 15px;
}
.modal-title {
	text-align: center;
	font-weight: bold;
}
.modal-header .close {
	font-size: 45px;
	opacity: 0.4;
}


@media (min-width: 1280px) {
  .modal-body {
		max-height: 91%;
  }
}
@media screen and (min-width:0\0) { 
    /* Tus estilos CSS para IE9, IE10, IE11  */
	.modal-dialog {
		left: 0;
  }
}
@media (min-width: 768px) {
  .modal-dialog {
		left: 10px;
  }
}
@media (max-width: 1024px) {
  .modal-header .close {
		font-size: 80px;
  }
}
